{% extends 'dashboard.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">{{ customer.name }}</h1>
    <div class="row">
        <div class="col-lg-12">
            <!-- Circle Buttons -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ customer.wordpress_url }}</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            {% if not customer.facebook_token %}
                            <button id="facebook_btn" style="font-size:1.8rem; width: 100%; height: 10rem;" type="button" class="btn-facebook"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="mr-1 bi bi-facebook" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
</svg>Facebook</button>
                            {% else %}
                            <button id="facebook_btn" style="font-size:1.8rem; width: 100%; height: 10rem;" type="button" class="btn btn-facebook" disabled><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="mr-1 bi bi-facebook" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
</svg>Facebook連携済<br><span style="font-size: 1.2rem">{{ customer.start_date }} UTC</span></button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card-header pt-3">
                <h6 class="m-0 font-weight-bold text-primary">instagram-wordpress 連携状況{% if customer.facebook_token %}<button id="facebook_execute" class="mx-2 btn btn-sm btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mr-1 bi bi-cloud-download" viewBox="0 0 16 16">
  <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
  <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
</svg>連携実行</button>{% endif %}</h6>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">連携日時</th>
                      <th scope="col">InstagramURL</th>
                      <th scope="col">WordpressURL</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for post in posts %}
                    <tr>
                      <th scope="row">{{ post["created_at"] }}</th>
                      <td>
                          <a href="{{ post['permalink'] }}" target="_blank">{{ post["permalink"][0:35] }}...</a>
                      </td>
                      <td>
                          <a href="{{ post['wordpress_link'] }}" target="_blank">{{ post["wordpress_link"][0:35] }}...</a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="dataModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Instagram</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modal-body" class="modal-body">
        <p>モーダルボディ</p>
      </div>
      <div class="modal-footer">
        <button id="execute_post_wordpress" type="button" class="btn btn-primary" data-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mr-1 bi bi-send" viewBox="0 0 16 16">
  <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
</svg>連携</button>
      </div>
    </div>
  </div>
</div>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
<!-- BootstrapのJavaScript Bundle（Popperが含まれています） -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>


<script>
    function getCardGrop(data) {
        let html = "";
        let ary = Array.from(data);
        if (ary.length > 0) {
            document.getElementById("execute_post_wordpress").disabled = false;
            html += "<p>以下の投稿をWordpressに連携します。問題なければ下部の「連携」ボタンを押してください。</p>"
            ary.forEach((m) => {
                html += `<div class="card m-3">
                    <img class="bd-placeholder-img card-img-top" src="${m['media_url']}" class="img-fluid" alt="Responsive image">
                    <div class="card-body"><p class="card-text">${m['caption'].replaceAll("\n", "<br>")}</p></div>
                  </div>`;
            });
        } else {
            document.getElementById("execute_post_wordpress").disabled = true;
            html += "<p>対象データはありません。</p>";
        }
        return html;
    }
    let instagramPost = null;
    document.getElementById("facebook_btn").addEventListener("click", (event) => {
        document.getElementById("facebook_btn").disabled = true;
        FB.login(function(response){
            console.log(response);
            if (response.status === "connected") {
                const accessToken = response.authResponse.accessToken;
                post("/facebook/auth", {accessToken})
            } else {
                document.getElementById("facebook_btn").disabled = false;
            }
        }, {scope: 'public_profile, pages_show_list, business_management, instagram_basic'});
    })
    let facebook_btn = document.getElementById("facebook_execute");
    if (facebook_btn) {
        facebook_btn.addEventListener("click", (event) => {
            if (!window.confirm("Instagramの投稿を取得しますか？")) {
                return;
            }
            showLoadingOverlay();
            fetch("/instagram", {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: null
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                instagramPost = data;
                let modalElement = document.getElementById('dataModal');
                let modalInstance = new bootstrap.Modal(modalElement);
                document.getElementById("modal-body").innerHTML = getCardGrop(data);
                modalInstance.show();
            })
            .catch((error) => {
                console.error('エラー発生:', error);
            })
            .finally(() => {
                hideLoadingOverlay();
            });
        })
    }
    let execute_btn = document.getElementById("execute_post_wordpress");
    if (execute_btn) {
        execute_btn.addEventListener("click", (event) => {
            postToWordpress();
        });
    }
    function postToWordpress() {
        showLoadingOverlay();
        if (instagramPost) {
            fetch("/post/wordpress", {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(instagramPost)
            })
            .then(response => response.json())
            .then(data => {
                window.alert("連携が完了しました。");
                window.location.reload();
            })
            .catch((error) => {
                console.error('エラー発生:', error);
            })
            .finally(() => {
                hideLoadingOverlay();
            });
        }
    }

</script>

{% endblock %}

