{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <ul class="navbar">
                    <a href="/" style="font-weight: bolder; text-decoration: none; font-family: 'BIZ UDPゴシック'; font-size: 2rem; cursor: pointer" class="mt-3">
                        <img class="mr-1" style="vertical-align: sub;height: 2.3rem;" src="{{ url_for('static', filename='image/sd.png') }}" />
                        A-Root</a>
                </ul>
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ customer.email }}</span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                ログアウト
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">{{ customer.name }}</h1>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Circle Buttons -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">{{ customer.wordpress_url }}</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        {% if not customer.facebook_token %}
                                        <button id="facebook_btn" style="font-size:1.8rem; width: 100%; height: 10rem;" type="button" class="insta btn btn-facebook">Facebook</button>
                                        {% else %}
                                            <button style="font-size:1.8rem; width: 100%; height: 10rem;" type="button" class="insta btn btn-facebook" disabled>Facebook連携済</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card-header pt-3">
                            <h6 class="m-0 font-weight-bold text-primary">instagram-wordpress 連携状況</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-sm">
                              <thead class="thead-light">
                                <tr>
                                  <th scope="col">連携日時</th>
                                  <th scope="col">InstagramURL</th>
                                  <th scope="col">WordpressURL</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for post in posts %}
                                <tr>
                                  <th scope="row">{{ post["created_at"] }}</th>
                                  <td>
                                      <a href="{{ post['permalink'] }}" target="_blank">{{ post["permalink"] }}</a>
                                  </td>
                                  <td>
                                      <a href="{{ post['wordpress_link'] }}" target="_blank">{{ post["wordpress_link"] }}</a>
                                  </td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>

<script>
    document.getElementById("facebook_btn").addEventListener("click", (event) => {
        document.getElementById("facebook_btn").disabled = true;
        FB.login(function(response){
            if (response.status === "connected") {
                const accessToken = response.authResponse.accessToken;
                post("/facebook/auth", {accessToken})
            } else {
                document.getElementById("facebook_btn").disabled = false;
            }
        }, {scope: 'public_profile,email,pages_show_list,instagram_basic,pages_read_engagement'});
    })
</script>

{% endblock %}

