{% extends 'base.html' %}

{% block header %}
  <h1>Customer</h1>
{% endblock %}

{% block content %}
    <h1>{{ customer["name"] }}</h1>
    <div>
        <a href="https://{{customer['wordpress_url']}}">{{ customer["wordpress_url"]}}</a>
    </div>
    <div>
        {% if customer["facebook_token"] %}
            <button disabled class="facebook-link btn btn-primary"><i class="mx-1 fa fa-facebook" aria-hidden="true"></i>Linked</button>
        {% else %}
            <button id="facebook_login" class="facebook-link btn btn-primary"><i class="mx-1 fa fa-facebook" aria-hidden="true"></i>Facebook</button>
        {% endif %}
    </div>

<script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
{% endblock %}

