{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-admin-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">A Root</h1>
                                    </div>
                                    <form method="post" class="user">
                                        <div class="form-group">
                                            <input name="email" type="email" class="form-control form-control-user"
                                                id="email" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group">
                                            <input name="password" type="password" class="form-control form-control-user"
                                                id="password" placeholder="Password">
                                        </div>
                                        <input id="login_btn" type="submit" value="Login" class="btn btn-primary btn-user btn-block" />
                                        <hr>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    document.getElementById("login_btn").addEventListener("click", (event) => {
        document.getElementById("login_btn").disabled = true;
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        post("/login", {email, password});
    })
</script>

{% endblock %}