{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div class="container-fluid">
                    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">顧客一覧</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <h6 class="col m-0 font-weight-bold text-primary">
                    DataTables
                </h6>
                <div class="col">
                    <div class="row justify-content-end">
                        <div class="text-right">
                          <a style="width: 6rem" id="register_user" href="{{ url_for('admin.register_user') }}" type="button" class="mr-2 btn btn-sm btn-success">管理者追加</a>
                        </div>
                        <div class="text-right">
                          <a style="width: 6rem" id="register_customer" href="{{ url_for('admin.register_customer') }}" type="button" class="btn btn-sm btn-primary">顧客追加</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Wordpress</th>
                            <th>Facebook</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td>{{ customer["id"] }}</td>
                                <td>{{ customer["name"] }}</td>
                                <td>{{ customer["email"] }}</td>
                                <td>{{ customer["wordpress_url"] }}</td>
                                <td>
                                    {% if not customer.facebook_token %}
                                        <span class="p-2 badge badge-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x" viewBox="2 2 16 16">
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg>未連携</span>
                                    {% else %}
                                        <span class="p-2 badge badge-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="2 2 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>連携済</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <button value="{{ customer.id }}" type="button" style="width: 6rem;" class="delete_btn btn btn-outline-danger btn-sm">削除ボタン</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll(".delete_btn").forEach((ele) => {
        ele.addEventListener("click", (event) => {
            const customer_id = event.target.value;
            if (window.confirm(`ID: ${customer_id}の顧客を削除します。よろしいですか？`)) {
                event.target.disabled = true;
                post("/admin/delete_customer", {customer_id});
            }
        })
    })
</script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %}

