{% extends 'base.html' %}

{% block logoutmodal %}
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ログアウトしますか？</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <div class="dropdown-divider"></div>
                    <a class="btn btn-primary" href="/admin/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <ul class="navbar">
        <a href="/admin" style="font-weight: bolder; text-decoration: none; font-family: 'BIZ UDPゴシック'; font-size: 2rem; cursor: pointer" class="mt-3">
            <img class="mr-1" style="vertical-align: sub;height: 2.3rem;" src="{{ url_for('static', filename='image/sd.png') }}" />
            A-Root</a>
    </ul>
    <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{login_name}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    ログアウト
                </a>
            </div>
        </li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">顧客一覧</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <h6 class="col m-0 font-weight-bold text-primary">
                    Customer Tables
                </h6>
                <div class="col">
                    <div class="row justify-content-end">
                        <div class="text-right">
                          <a style="width: 6rem" id="register_customer" href="{{ url_for('admin_user.register_customer') }}" type="button" class="btn btn-sm btn-primary">顧客追加</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="customerTables" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Instagram</th>
                            <th>Wordpress</th>
                            <th>Facebook</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td>
                                    <a class="w-50 btn-outline-secondary btn" href="/admin/customers/{{ customer["id"] }}">
                                        #{{ customer["id"] }}
                                    </a>
                                </td>
                                <td>{{ customer["name"] }}</td>
                                <td>
                                    {% if customer["instagram_business_account_name"] == None %}
                                        -
                                    {% else %}
                                        <a target="_blank" href="https://www.instagram.com/{{ customer.instagram_business_account_name }}">
                                            {{ customer.instagram_business_account_name }}
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a target="_blank" href="https://{{ customer["wordpress_url"] }}">
                                        {{ customer["wordpress_url"] }}
                                    </a>
                                </td>
                                <td>
                                    {% if not customer.facebook_token %}
                                        <span class="p-2 badge badge-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x" viewBox="2 2 16 16">
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg>未連携</span>
                                    {% else %}
                                        <span class="p-2 badge badge-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="2 2 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>連携済</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="my-2">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item {{ 'disabled' if customer_page == 1 }}">
                      <a class="page-link" href="/?customer_page={{ customer_page - 1 }}&admin_page={{ admin_page }}&post_page={{ post_page }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    {% for i in range(customers_block) %}
                        {% if i + 1 == customer_page %}
                            <li class="page-item disabled"><a class="page-link" href="/?customer_page={{ i + 1 }}&admin_page={{ admin_page }}&post_page={{ post_page }}">{{ i + 1 }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="/?customer_page={{ i + 1 }}&admin_page={{ admin_page }}&post_page={{ post_page }}">{{ i + 1 }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item {{ 'disabled' if customer_page == customers_block }}">
                      <a class="page-link" href="/?customer_page={{ customer_page + 1 }}&admin_page={{ admin_page }}&post_page={{ post_page }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>

    <h1 class="h3 mt-5 mb-2 text-gray-800">管理ユーザー一覧</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <h6 class="col m-0 font-weight-bold text-primary">
                    Admin Users Tables
                </h6>
                <div class="col">
                    <div class="row justify-content-end">
                        <div class="text-right">
                          <a style="width: 6rem" id="register_user" href="{{ url_for('admin_user.register_user') }}" type="button" class="mr-2 btn btn-sm btn-success">管理者追加</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="adminUsersTables" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for admin_user in admin_users %}
                            <tr>
                                <td>{{ admin_user["id"] }}</td>
                                <td>{{ admin_user["name"] }}</td>
                                <td>{{ admin_user["email"] }}</td>
                                <td>
                                    <button value="{{ admin_user.id }}" type="button" style="width: 6rem;" class="delete_user_btn btn btn-outline-danger btn-sm">削除ボタン</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="my-2">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item {{ 'disabled' if admin_page == 1 }}">
                      <a class="page-link" href="/?customer_page={{ customer_page }}&admin_page={{ admin_page - 1 }}&post_page={{ post_page }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    {% for i in range(admin_users_block) %}
                        {% if i + 1 == admin_page %}
                            <li class="page-item disabled"><a class="page-link" href="/?customer_page={{ customer_page }}&admin_page={{ i + 1 }}&post_page={{ post_page }}">{{ i + 1 }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="/?customer_page={{ customer_page }}&admin_page={{ i + 1 }}&post_page={{ post_page }}">{{ i + 1 }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item {{ 'disabled' if admin_page == admin_users_block }}">
                      <a class="page-link" href="/?customer_page={{ customer_page }}&admin_page={{ admin_page + 1 }}&post_page={{ post_page }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll(".reset_customer_btn").forEach((ele) => {
       ele.addEventListener("click", (event) => {
           const customer_id = event.target.value;
           if (window.confirm(`ID: ${customer_id}、Facebookの連携をリセットします。よろしいですか？`)) {
               showLoadingOverlay();
               event.target.disabled = true;
               post("/admin/reset_customer", {customer_id});
           }
       })
    });
    document.querySelectorAll(".delete_customer_btn").forEach((ele) => {
        ele.addEventListener("click", (event) => {
            const customer_id = event.target.value;
            if (window.confirm(`ID: ${customer_id}の顧客を削除します。よろしいですか？`)) {
                showLoadingOverlay();
                event.target.disabled = true;
                post("/admin/delete_customer", {customer_id});
            }
        });
    });
    document.querySelectorAll(".delete_user_btn").forEach((ele) => {
        ele.addEventListener("click", (event) => {
            const admin_user_id = event.target.value;
            if (window.confirm(`ID: ${admin_user_id}の管理者ユーザーを削除します。よろしいですか？`)) {
                showLoadingOverlay();
                event.target.disabled = true;
                post("/admin/delete_user", {admin_user_id});
            }
        });
    });
    document.querySelectorAll(".delete_hash_change_true").forEach((ele) => {
        ele.addEventListener("click", (event) => {
            const customer_id = event.target.value;
            if (window.confirm(`ID: ${customer_id} ハッシュタグを削除するように設定します`)) {
                showLoadingOverlay();
                event.target.disabled = true;
                post("/admin/customer/delete_hash", {customer_id, "delete_hash": true});
            }
        });
    });
    document.querySelectorAll(".delete_hash_change_false").forEach((ele) => {
        ele.addEventListener("click", (event) => {
            const customer_id = event.target.value;
            if (window.confirm(`ID: ${customer_id} ハッシュタグを削除を解除します`)) {
                showLoadingOverlay();
                event.target.disabled = true;
                post("/admin/customer/delete_hash", {customer_id, "delete_hash": false});
            }
        });
    });

</script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %}
