{% extends 'admin.html' %}


{% block content %}
<div class="container">

    <h1 class="h3 mb-2 text-gray-800">顧客一覧</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <h6 class="col m-0 fw-bold text-primary">
                    Customer Tables
                </h6>
                <div class="col d-flex justify-content-end">
                    <a style="width: 6rem" id="register_customer" href="{{ url_for('admin_user.register_customer') }}" type="button" class="btn btn-sm btn-primary">顧客追加</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="customerTables" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Instagram</th>
                            <th>Wordpress</th>
                            <th>Setting</th>
                            <th>Expired</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td>
                                    <a class="btn-outline-secondary btn" href="/admin/customers/{{ customer["id"] }}">
                                        #{{ customer["id"] }}
                                    </a>
                                </td>
                                <td>{{ customer["name"] }}</td>
                                <td>
                                    {% if customer["instagram_business_account_name"] == None %}
                                        -
                                    {% else %}
                                        <a target="_blank" href="https://www.instagram.com/{{ customer.instagram_business_account_name }}">
                                            {{ customer.instagram_business_account_name }}
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a target="_blank" href="https://{{ customer["wordpress_url"] }}">
                                        {{ customer["wordpress_url"] }}
                                    </a>
                                </td>
                                <td>
                                    {% if not customer.facebook_token %}
                                        <span class="p-2 badge bg-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x" viewBox="2 2 16 16">
                                          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>未連携</span>
                                    {% else %}
                                        <span class="p-2 badge bg-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="2 2 16 16">
                                          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                        </svg>連携済</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if customer.instagram_token_status == 2 %}
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" width="25" height="25">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                                    </svg>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="my-2">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item {{ 'disabled' if customer_page == 1 }}">
                      <a class="page-link" href="/admin?customer_page={{ customer_page - 1 }}&admin_page={{ admin_page }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    {% for i in range(customers_block) %}
                        {% if i + 1 == customer_page %}
                            <li class="page-item disabled"><a class="page-link" href="/admin?customer_page={{ i + 1 }}&admin_page={{ admin_page }}">{{ i + 1 }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="/admin?customer_page={{ i + 1 }}&admin_page={{ admin_page }}">{{ i + 1 }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item {{ 'disabled' if customer_page == customers_block }}">
                      <a class="page-link" href="/admin?customer_page={{ customer_page + 1 }}&admin_page={{ admin_page }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>

    <h1 class="h3 mt-5 mb-2 text-gray-800">管理ユーザー一覧</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <h6 class="col m-0 fw-bold text-primary"> <!-- Changed `font-weight-bold` to `fw-bold` -->
                    Admin Users Tables
                </h6>
                <div class="col d-flex justify-content-end"> <!-- Use `d-flex` and `justify-content-end` directly on this column -->
                    <a style="width: 6rem" id="register_user" href="{{ url_for('admin_user.register_user') }}" type="button" class="btn btn-sm btn-success me-2">管理者追加</a> <!-- Updated `mr-2` to `me-2` -->
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="adminUsersTables" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for admin_user in admin_users %}
                            <tr>
                                <td>{{ admin_user["id"] }}</td>
                                <td>{{ admin_user["name"] }}</td>
                                <td>{{ admin_user["email"] }}</td>
                                <td>
                                    <button value="{{ admin_user.id }}" type="button" style="width: 6rem;" class="delete_user_btn btn btn-outline-danger btn-sm">削除ボタン</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="my-2">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item {{ 'disabled' if admin_page == 1 }}">
                      <a class="page-link" href="/?customer_page={{ customer_page }}&admin_page={{ admin_page - 1 }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    {% for i in range(admin_users_block) %}
                        {% if i + 1 == admin_page %}
                            <li class="page-item disabled"><a class="page-link" href="/?customer_page={{ customer_page }}&admin_page={{ i + 1 }}">{{ i + 1 }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="/?customer_page={{ customer_page }}&admin_page={{ i + 1 }}">{{ i + 1 }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item {{ 'disabled' if admin_page == admin_users_block }}">
                      <a class="page-link" href="/?customer_page={{ customer_page }}&admin_page={{ admin_page + 1 }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll(".delete_user_btn").forEach((ele) => {
        ele.addEventListener("click", (event) => {
            const admin_user_id = event.target.value;
            if (window.confirm(`ID: ${admin_user_id}の管理者ユーザーを削除します。よろしいですか？`)) {
                showLoadingOverlay();
                event.target.disabled = true;
                post("/admin/delete_user", {admin_user_id});
            }
        });
    });


</script>

{% endblock %}
