{% extends 'admin.html' %}


{% block header %}
{% endblock %}

{% block content %}

{#<div class="container">#}
{#    <div class="row mt-5 justify-content-center">#}
{#        <div class="col-xl-10 col-lg-12 col-md-9">#}
{#            <div class="card o-hidden border-0 shadow-lg my-5">#}
{#                <div class="card-body p-0">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-6 d-none d-lg-block">#}
{#                            <img src="cat.jpg" alt="Cat Image" class="img-fluid w-100 h-100" style="object-fit: cover;">#}
{#                        </div>#}
{#                        <div class="col-lg-6">#}
{#                            <div class="p-5">#}
{#                                <div class="text-center">#}
{#                                    <h1 class="h4 text-gray-900 mb-4">A Root - 管理者ログイン</h1>#}
{#                                </div>#}
{#                                <form id="login_form" method="post" class="user">#}
{#                                    <div class="mb-3">#}
{#                                        <input name="email" type="email" class="form-control form-control-user"#}
{#                                            id="email" aria-describedby="emailHelp"#}
{#                                            placeholder="Eメールアドレス">#}
{#                                    </div>#}
{#                                    <div class="mb-3">#}
{#                                        <input name="password" type="password" class="form-control form-control-user"#}
{#                                            id="password" placeholder="パスワード">#}
{#                                    </div>#}
{#                                    <button id="admin_login_btn" class="btn btn-primary btn-user btn-block g-recaptcha">ログイン</button>#}
{#                                    <hr>#}
{#                                </form>#}
{#                                <hr>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-admin-login-image">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">A Root - 管理者ログイン</h1>
                                </div>
                                <form id="login_form" method="post" class="user">
                                    <div class="mb-3 form-group">
                                        <input name="email" type="email" class="form-control form-control-user"
                                            id="email" aria-describedby="emailHelp"
                                            placeholder="Eメールアドレス">
                                    </div>
                                    <div class="mb-3 form-group">
                                        <input name="password" type="password" class="form-control form-control-user"
                                            id="password" placeholder="パスワード">
                                    </div>
                                    <button id="admin_login_btn" class="btn btn-primary btn-user btn-block form-control">ログイン</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("admin_login_btn").addEventListener("click", (event) => {
        showLoadingOverlay();
        document.getElementById("login_btn").disabled = true;
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        post("/admin/login", {email, password});
    })
</script>

{% endblock %}