{% extends 'admin.html' %}


{% block content %}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="">
                            <h1 class="h4 text-gray-900 mb-4">顧客登録</h1>
                        </div>
                        <form method="post" class="user">
                            <div class="mb-3 form-group">
                                <input value="{{ customer.name }}" name="name" type="text" class="form-control form-control-user" id="name"
                                    placeholder="名前">
                            </div>
                            <div class="mb-3 form-group">
                                <input value="{{ customer.email }}" name="email" type="email" class="form-control form-control-user" id="email"
                                    placeholder="Eメールアドレス">
                            </div>
                            <div class="mb-3 form-group">
                                <input value="{{ customer.wordpress_url }}" name="wordpress_url" type="text" class="form-control form-control-user" id="wordpress_url"
                                    placeholder="Wordpress URL">
                            </div>
                            <div class="mb-3 form-group">
                                <input name="password" type="text" class="form-control form-control-user"
                                        id="password" placeholder="パスワード">
                            </div>
                            <div class="mb-3 form-group">
                                <select id="delete_hash" class="form-control form-control-user" aria-label="Default select example">
                                  <option value="0"
                                          {% if customer.delete_hash == "0" %}
                                            selected
                                          {% endif %}
                                  >ー</option>
                                  <option value="1"
                                          {% if customer.delete_hash == "1" %}
                                            selected
                                          {% endif %}
                                  >ハッシュタグの除去</option>
                                </select>
                            </div>
                            <input id="save" type="submit" value="登録" class="form-control form-control-user btn btn-primary" />
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("save").addEventListener("click", (event) => {
        document.getElementById("save").disabled = true;
        const name = document.getElementById("name").value;
        const email = document.getElementById("email").value;
        const wordpress_url = document.getElementById("wordpress_url").value;
        const password = document.getElementById("password").value;
        const delete_hash = document.getElementById("delete_hash").value;
        console.log(delete_hash)
        post("/admin/register_customer", { name, email, wordpress_url, password, delete_hash })
    });
</script>

{% endblock %}