{% extends 'customer.html' %}


{% block content %}

<main id="main" class="main">
    <div class="pagetitle">
  <h1>お問い合わせ</h1>
</div><!-- End Page Title -->
    <section class="section contact">

  <div class="row gy-4">

    <div class="col-xl-8">
      <div class="card p-4">
        <form action="forms/contact.php" method="post" class="php-email-form">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required>
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Your Email" required>
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required>
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">送信</button>
            </div>

          </div>
        </form>
      </div>

    </div>

  </div>

</section>
</main>

{#<script>#}
{#    document.querySelectorAll(".delete_user_btn").forEach((ele) => {#}
{#        ele.addEventListener("click", (event) => {#}
{#            const admin_user_id = event.target.value;#}
{#            if (window.confirm(`ID: ${admin_user_id}の管理者ユーザーを削除します。よろしいですか？`)) {#}
{#                showLoadingOverlay();#}
{#                event.target.disabled = true;#}
{#                post("/admin/delete_user", {admin_user_id});#}
{#            }#}
{#        });#}
{#    });#}
{#</script>#}

{% endblock %}
