{% extends 'customer.html' %}

{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
      <h1>ダッシュボード</h1>
    </div><!-- End Page Title -->
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

              <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">A-Root</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
{#                      <i class="bi bi-wordpress"></i>#}
                      <img class="w-50" src="{{ url_for('static', filename='image/sd.ico') }}" alt="">
                    </div>
                    <div class="ps-3">
                      <h5>
                          {% if dashboard_status == "0" %}
                            <span class="badge bg-healthy rounded-pill">正常に動作中</span>
                          {% elif dashboard_status == "101" %}
                            <span class="text-black badge bg-healthy rounded-pill">正常に動作中</span>
                            <span class="text-black badge bg-pending-auth rounded-pill">インスタグラム認証待ち</span>
                            <span class="text-black badge bg-pending-auth rounded-pill">認証期限切れ</span>
                            <span class="text-black badge bg-pending-auth rounded-pill">ワードプレスplugin設定待ち</span>
                            <span class="text-black badge bg-fail-payment rounded-pill">決済失敗</span>
                          {% elif dashboard_status == "201" %}
                            <span class="badge bg-danger rounded-pill">認証期限切れ</span>
                          {% endif %}
                      </h5>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                    <div class="filter">
                      <a class="icon" href="/account"><i class="bi bi-gear"></i></a>
                    </div>
                  <h5 class="card-title">WordPress</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-wordpress"></i>
                    </div>
                    <div class="ps-3">
                      <h5><a href="https://{{ customer.wordpress_url }}" target="_blank" >{{ customer.wordpress_url }}</a></h5>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card customers-card">
                <div class="filter">
                  <a class="icon" href="/account"><i class="bi bi-gear"></i></a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Instagram</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-instagram"></i>
                    </div>
                    <div class="ps-3">
                        {% if customer.instagram_business_account_name %}
                      <h5><a target="_blank" href="https://www.instagram.com/{{ customer.instagram_business_account_name }}" class="text-decoration-none">
                            {{ customer.instagram_business_account_name }} <span class="small pt-2">({{ customer.instagram_business_account_id }})</span>
                      </a></h5>
                        {% else %}
{#                            <button id="facebook_btn" class="btn btn-outline-primary"><i class="bi bi-facebook me-2"></i>認証#}
                            <button type="button" class="btn btn-outline-primary position-relative">
                                <i class="bi bi-facebook me-2"></i>認証
                                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle smooth-blinking-badge">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            </button>
                        {% endif %}
                      <span class="text-muted small pt-2"></span>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Reports -->
            <div class="col-12">
              <div class="card">

                <div class="card-body">
                  <h5 class="card-title">Data</h5>

                  <!-- Table with stripped rows -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="col">連携日時</th>
                        <th class="col">インスタグラムURL</th>
                        <th class="col">WordpressURL</th>
                      </tr>
                    </thead>

                    <tbody>
                          {% for post in posts %}
                              {% if post["wordpress_link"] %}
                                <tr>
                                  <td>{{ post["created_at"] }}</td>
                                  <td>
                                      <a href="{{ post['permalink'] }}" target="_blank">{{ post.get_permalink() }}</a>
                                  </td>
                                  <td>
                                      <a href="{{ post['wordpress_link'] }}" target="_blank">{{ post.get_wordpress_title() }}</a>
                                  </td>
                                </tr>
                              {% endif %}
                          {% endfor %}
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->

                </div>

              </div>
            </div><!-- End Reports -->

          </div>
        </div><!-- End Left side columns -->
      </div>
    </section>
</main>

<input id="customer_id" type="hidden" value="{{ customer.id }}">
<input id="dashboard_status" type="hidden" value="{{ dashboard_status }}">

<script>
    const fb_btn = document.getElementById("facebook_btn");
    if (fb_btn) {
        fb_btn.addEventListener("click", (event) => {
            document.getElementById("facebook_btn").disabled = true;
            FB.login(function(response){
                if (response.status === "connected") {
                    showLoadingOverlay()
                    const accessToken = response.authResponse.accessToken;
                    post("/facebook/auth", {"access_token": accessToken})
                } else {
                    document.getElementById("facebook_btn").disabled = false;
                }
            }, {scope: 'public_profile, pages_show_list, business_management, instagram_basic'});
        })
    }

</script>

{% endblock %}

