{% extends 'customer.html' %}


{% block content %}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v18.0&appId=1499558264220625" nonce="f2Xbvzub"></script>

<script defer>
    FB.login(function(response){
        if (response.status === "connected") {
            showLoadingOverlay()
            const accessToken = response.authResponse.accessToken;
            post("/facebook/auth", {"access_token": accessToken})
        } else {
            document.getElementById("facebook_btn").disabled = false;
        }
    }, {scope: 'public_profile, pages_show_list, business_management, instagram_basic'});
</script>
<script src="{{ url_for('static', filename='javascript/common.js') }}"></script>

{% endblock %}