{% extends "base.html" %}

{% block logoutmodal %}
    <div class="modal fade" id="adminLogoutModal" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="adminModalLabel">ログアウトしますか？</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <div class="dropdown-divider"></div>
                    <a class="btn btn-primary" href="/admin/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
<nav class="navbar navbar-expand navbar-light topbar mb-3 static-top shadow" style="background-color: rgba(255, 203, 2, 0.3); padding: 0.5rem 1rem;">
    <ul class="navbar" style="margin: 0; padding: 0;">
        <a href="/admin" style="font-weight: bolder; text-decoration: none; font-family: 'BIZ UDPゴシック'; font-size: 2rem; cursor: pointer" class="ms-3 mt-1">
            <img class="mr-1" style="height: 2rem;" src="{{ url_for('static', filename='image/sd.png') }}" />
            A-Root
        </a>
    </ul>
    <ul class="navbar-nav ms-auto" style="margin: 0;">
        <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userAdminDropdown" role="button"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{login_name}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userAdminDropdown">
                <a class="dropdown-item" href="/admin/patch">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    パッチ
                </a>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#adminLogoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    ログアウト
                </a>
            </div>
        </li>
    </ul>
</nav>

    <!-- Modal Structure -->
{#<div class="modal fade" id="adminLogoutModal" tabindex="-1" aria-labelledby="adminLogoutModalLabel" aria-hidden="true">#}
{#    <div class="modal-dialog">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <h5 class="modal-title" id="adminLogoutModalLabel">Confirm Logout</h5>#}
{#                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#            </div>#}
{#            <div class="modal-body">#}
{#                ログアウトしますか？#}
{#            </div>#}
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>#}
{#                <a href="/admin/logout" class="btn btn-primary">ログアウト</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{% endblock %}