<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>A-Root</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='image/sd.ico') }}" rel="icon">
  <link href="{{ url_for('static', filename='image/sd.ico') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.min.css') }}" rel="stylesheet">
  <!-- Template Main CSS File -->
　<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body>

    {% block header %}{% endblock %}
    {% block slider %}{% endblock %}
    {% block content %}{% endblock %}


    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            <span class="me-2"><a target="_blank" rel="noopener" href="https://strategy-drive.jp/">運営会社</a></span>
            <span class="me-2"><a href="/terms">利用規約</a></span>
            <span class="me-2"><a href="/privacy">プライバシーポリシー</a></span>
            &copy; Copyright <strong><span>StrategyDrive</span></strong>. All Rights Reserved
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v18.0&appId=1499558264220625" nonce="f2Xbvzub"></script>
    <script src="{{ url_for('static', filename='javascript/common.js') }}"></script>

    <!-- JS -->
    <script src="{{ url_for('static', filename='vendor/apexcharts/apexcharts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/chart.js/chart.umd.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/echarts/echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/quill/quill.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>

</body>

</html>