annotated-types==0.7.0
anyio==4.6.2.post1
arrow==1.3.0
attrs==24.2.0
Authlib==1.3.2
backoff==2.2.1
black==24.10.0
blinker==1.9.0
cachetools==5.5.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
cryptography==45.0.4
distro==1.9.0
dparse==0.6.4
dredd-hooks==0.2.0
filelock==3.16.1
flake8==7.1.1
Flask==3.1.1
Flask-WTF==1.2.2
fqdn==1.5.1
google-api-core==2.22.0
google-api-python-client==2.151.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.65.0
graphql-core==3.2.5
greenlet==3.1.1
gunicorn==23.0.0
h11==0.16.0
harfile==0.3.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
hypothesis==6.116.0
hypothesis-graphql==0.11.1
hypothesis-jsonschema==0.23.1
idna==3.10
iniconfig==2.0.0
isoduration==20.11.0
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.7.0
joblib==1.5.1
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
junit-xml==1.9
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==4.0.0
mccabe==0.7.0
mdurl==0.1.2
multidict==6.1.0
mypy==1.13.0
mypy-extensions==1.0.0
mysql-connector-python==9.1.0
nltk==3.9.1
oauthlib==3.2.2
openai==1.54.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
propcache==0.2.0
proto-plus==1.25.0
protobuf==5.28.3
psutil==6.1.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.12.1
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pyflakes==3.2.0
Pygments==2.19.2
PyMySQL==1.1.1
pyparsing==3.2.0
pyrate-limiter==3.7.0
pytest==8.3.3
pytest-subtests==0.13.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-http-client==3.3.7
python-json-logger==2.0.7
pytz==2024.2
PyYAML==6.0.2
redis==5.2.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.4
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3987==1.3.8
rich==14.0.0
rpds-py==0.20.1
rsa==4.9
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
safety==3.5.2
safety-schemas==0.0.14
schemathesis==3.38.5
sendgrid==6.11.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.36
starkbank-ecdsa==2.2.0
starlette==0.41.2
starlette-testclient==0.4.1
stripe==11.5.0
tenacity==9.1.2
tomli==2.0.2
tomli_w==1.1.0
tomlkit==0.13.3
tqdm==4.66.6
typer==0.16.0
types-python-dateutil==2.9.0.20241003
types-requests==2.32.0.20240914
typing_extensions==4.12.2
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.5.0
webcolors==24.8.0
Werkzeug==3.1.3
WTForms==3.2.1
yarl==1.17.1
