{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <ul class="navbar">
      <a href="/" style="font-weight: bolder; text-decoration: none; font-family: 'BIZ UDPゴシック'; font-size: 2rem; cursor: pointer" class="mt-3">
          <img class="mr-1" style="vertical-align: sub;height: 2.3rem;" src="{{ url_for('static', filename='image/sd.png') }}" />
          A-Root</a>
  </ul>
</nav>

<main>
    <article class="wrapKOPIPE-OK">
  <section class="wrapHINAGATA">
    <h1>利用規約</h1>
    <p>　この利用規約（以下「本規約」といいます）は、StrategyDrive株式会社(ストラテジードライブ）（以下「当社」といいます）がこのウェブアプリケーション上で提供する「A-Root」（以下「本サービス」といいます。詳細は第7条記載のとおりです）の提供条件及び当社とユーザーとの間の権利関係が定められています。</p>
    <p>　本サービスのご利用に際しては本規約の全文をお読みいただいた上で、本規約にご同意いただく必要があります。なお、ユーザーが本サービスの利用を開始した時点をもって、ユーザーは本規約に同意をしたものとみなされます。</p>
    <h2>第1条（定義）</h2>
    <p>　本規約において使用する以下の用語は、各々以下に定める意味を有するものとします。</p>
    <ol>
      <li>「当社サイト」とは、当社が管理・運営するウェブサイトであり、ドメインに「sd-a-root.info」の文字列を含むウェブサイトを意味します。</li>
      <li>「利用契約」とは、当社とユーザーとの間で締結する、本サービスに関する利用契約を意味し、本規約もこれに含まれます。</li>
      <li>「登録希望者」とは、本サービスの利用を希望し、登録の申込みを行い又は登録の申込みを行おうとする法人または個人事業主を意味します。</li>
      <li>「ユーザー」とは、登録希望者のうち、第４条の規定に基づき、当社が本サービスの利用者として登録を承諾した法人または個人事業主を意味します。</li>
      <li>「外部サービス」とは、ユーザーが本サービスを利用するにあたって本サービスと連携して用いるInstagram、FacebookのSNSサービスを意味します。</li>
      <li>「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権（それらの権利を取得し、又はそれらの権利につき登録等を出願する権利を含みます）を意味します。</li>
      <li>「個人情報保護法」とは、個人情報の保護に関する法律（平成15年法律第57号）を意味します。</li>
      <li>「個人情報」とは、個人情報保護法第２条第１項に定める個人情報を意味します。</li>
      <li>「登録事項」とは、ユーザーが本サービスの登録に際し当社に対して提供したユーザー自身の情報を意味します。</li>
    </ol>
    <h2>第2条（適用）</h2>
    <ol>
      <li>本規約は、本サービスの提供条件および本サービスの利用に関する当社とユーザーとの権利義務関係を定めることを目的とし、ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されます。</li>
      <li>当社が、当社サイトその他で掲載する本サービスの利用に関する条件は、本規約の一部を構成するものとします。</li>
      <li>本規約の記載内容と、前項の条件が異なる場合は、本規約の内容が優先して適用されるものとします。</li>
    </ol>
    <h2>第3条（変更）</h2>
    <ol>
      <li>当社は、本サービスの利用料の額、本サービスの利用内容、その他本規約または条件等の内容（以上をあわせて以下「本規約の内容等」といいます）を変更できるものとします。当社は、本規約の内容等の変更を行う場合は、変更後の本規約の内容を、当社ウェブサイト上に表示または当社の定める方法によりユーザーに通知することでユーザーに周知するものとし、この周知の際に定める効力発生日から、変更後の本規約は適用されるものとします。</li>
      <li>ユーザーは、変更後の本規約に同意しない場合には、本サービスの利用を中止するものとし、ユーザーが本規約の変更後も本サービスの利用を継続する場合、当該ユーザーは変更後の本規約に同意したものとみなされます。</li>
    </ol>
    <h2>第4条（利用登録）</h2>
    <ol>
      <li>本サービスの利用を希望する者（以下「登録希望者」といいます）は、本規約を遵守することに同意し、かつ当社の定める一定の情報（以下「登録事項」といいます）を当社の定める方法で当社に提供することにより、当社に対し、本サービスの利用の登録を申請することができます。</li>
      <li>当社は、当社の基準に従って、前項に基づいて登録申請を行った登録希望者の登録の可否を判断し、当社が登録を認める場合にはその旨を当社所定の方法にて当該登録希望者に通知します。ユーザーはこの当社からの通知を受領した後、当社が定める支払期限までに、第８条に定める利用料金等を当社所定の方法により支払うものとします。登録希望者のユーザーとしての登録は、当社がユーザーからの利用料金等のお支払いを確認したことをもって完了するものとします。</li>
      <li>前項に定める登録完了時に、本サービス利用契約がユーザーと当社との間に成立し、ユーザーは本サービスを本規約に従い利用することができるようになります。</li>
      <li>当社は、登録希望者が、以下の各号のいずれかの事由に該当する場合は、登録及び再登録を拒否することがあり、またその理由について当社は一切開示義務を負いません。
        <ol>
          <li>当社に提供した登録事項の全部又は一部につき虚偽、誤記又は記載漏れがあった場合</li>
          <li>未成年者、成年被後見人、被保佐人または被補助人のいずれかであり、法定代理人、後見人、保佐人または補助人の同意等を得ていなかった場合</li>
          <li>反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ）である、又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力等との何らかの交流若しくは関与を行っていると当社が判断した場合</li>
          <li>登録希望者が過去、当社との契約に違反した者又はその関係者であると当社が判断した場合</li>
          <li>第14条（禁止行為）各号に掲げる事由を行ったことがあるか、または行うおそれがあると当社が判断した場合</li>
          <li>第21条に定める措置（当社による利用停止・解除等）を受けたことがある場合</li>
          <li>その他、当社が登録を適当でないと判断した場合</li>
        </ol>
      </li>
    </ol>
    <h2>第5条（登録事項変更時における通知義務）</h2>
    <ol>
      <li>ユーザーは、登録事項に変更があった場合、当社の定める方法により当該変更事項を遅滞なく当社に通知するものとします。</li>
      <li>当社は、ユーザーが前項の通知を怠ったことにより、ユーザー並びに第三者が損害を被った場合であっても、一切責任を負わないものとします。</li>
    </ol>
    <h2>第6条（アカウント）</h2>
    <ol>
      <li>当社は、登録希望者が登録を完了した後、ユーザーに対してユーザーID及びパスワード（以下「アカウント」といいます）を発行します。</li>
      <li>ユーザーは、自己の責任において、本サービスに関するアカウントを適切に管理及び保管するものとし、これを第三者に利用させ、または貸与、譲渡、名義変更、売買等をしてはならないものとします。</li>
      <li>当社は、ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には、そのユーザーIDを登録しているユーザー自身による利用とみなします。</li>
      <li>当社は、ユーザーに付与したアカウントを、ユーザーに対して事前に通知した上で変更することができるものとします。</li>
      <li>アカウントの管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任はユーザーが負うものとし、当社は一切の責任を負いません。</li>
      <li>当社は、ユーザーに対するアカウント発行後に、ユーザーのアカウントも用いて行われた本サービスの利用行為について、すべてユーザーに帰属するものとみなすことができます。</li>
      <li>当社は、当社の基準により、ユーザーのアカウントが不正使用されている可能性があると当社が判断した場合は、当該アカウントを停止することができます。その場合、ユーザーは当社が定める手続きに従い、利用停止措置の解除手続きを行うこととします。なお、当社がこのような措置をとったことにより、ユーザーがアカウントを使用できないことを理由として損害が生じた場合であっても、当社は一切の責任を負いません。</li>
    </ol>
    <h2>第7条（本サービスの提供内容）</h2>
    <ol>
      <li>本サービスはInstagramの投稿内容をWordPressで構築されたWebサイトの記事として自動連携・投稿できるツールです。</li>
      <li>本サービスのより詳細な内容及び機能等は、当社サイト上の各サービスに関連するページをご参照ください。なお当社は、本サービスの内容及び機能等を、当社の判断に基づき、事前の予告なしに随時追加、変更又は削除等する場合があります。</li>
    </ol>
    <h2>第8条（利用料金および支払方法）</h2>
    <ol>
      <li>ユーザーは、当社に対し、本サービスに対する利用料金として、当社サイト上等で掲載する料金表に記載された金額及びこれに対する消費税（以下「利用料金等」といいます）を支払うものとします。</li>
      <li>ユーザーは、前項に定める利用料金等を一括して、当社が定める支払期日までに、当社が別途指定する方法（クレジットカード決済または金融機関口座宛振込）にて支払うものとします。ただし、支払方法について別途合意した場合は、この限りではありません。なお、支払のために必要となる手数料(振込手数料等)はユーザーの負担となります。</li>
      <li>利用料金等は、ユーザーが本サービスを実際に利用するかどうかにかかわらず、発生するものとします。</li>
      <li>ユーザーは、支払い済みの利用料金等について、本規約に特別に定める場合を除き、当社に対し返金を求めることができないものとします。</li>
      <li>当社が定める料金の請求に対し支払いの遅滞があった場合には、当社は本サービスの提供は行わないものとし、それにより生じた損害についてはいかなる場合でも当社は一切の責任は負わないものとします。</li>
      <li>ユーザーが、本サービスの利用料金等を所定の支払期日が過ぎてもなお支払われない場合、ユーザーは当社に対し、所定の支払期日の翌日から支払日の前日までの日数に、年14.6％の利率で計算した金額を遅延損害金として、当社に支払うものとします。</li>
    </ol>
    <h2>第9条（外部サービスとの連携）</h2>
    <ol>
      <li>ユーザーは、ユーザーが利用する外部サービスのアカウントを、本サービスのアカウントに連携することで、当該外部サービスから投稿等を行うことができます。</li>
      <li>ユーザーは、本サービス上で外部サービスのアカウントを利用するにあたり、当該外部サービスの運営会社に登録されたユーザーに関する情報を当社が取得し、本サービス上で利用することを承諾するものとします。</li>
      <li>ユーザーは、外部サービスにおけるアカウントの登録・管理を自己の責任において行うものとします。</li>
      <li>本サービス上で外部サービスを利用するにあたり、ユーザーまたは第三者に損害が生じたとしても、当社は、当社に故意または重過失がある場合を除いて、一切の責任を負いません。また、本サービス上で外部サービスを利用するにあたり、ユーザーまたは第三者に損害が生じたとしても、当該外部サービスは一切の責任を負いません。</li>
      <li>本サービス上で外部サービスのアカウントを利用するにあたり、ユーザーは、当該外部サービスが定める各規約に従うものとします。</li>
      <li>ユーザーが本サービス上で外部サービスを利用するにあたり、当社に損害が生じた場合には、ユーザーは、その一切の損害を当社に対し賠償するものとします。</li>
    </ol>
    <h2>第10条（バックアップ）</h2>
    <p>　ユーザーは、ユーザーが本サービスの利用に際し取得又は作成した情報・データ（以下「データ等」といいます）について、自らの責任でバックアップを行うものとし、当社は別途個別の定めによりバックアップに関するサービスを提供する場合を除いて、当該データ等の保管、保存、バックアップ等に関して、一切責任を負わないものとします。</p>
    <h2>第11条（電気通信回線）</h2>
    <ol>
      <li>ユーザーが使用する端末機器から当社サイトに接続する電気通信回線は、ユーザーの責任と費用負担において、確保、維持されるものとし、当社は一切の責任を負いません。</li>
      <li>ユーザーは、本サービスを利用するにあたって必要となる一切の通信費用を負担するものとします。</li>
    </ol>
    <h2>第12条（当社による個人情報の管理）</h2>
    <ol>
      <li>当社は、個人情報保護の重要性を認識し、当社プライバシーポリシーを策定しています。本サービスを通じて当社に提供されるユーザーの個人情報については、当社プライバシーポリシーに則り、適正に取得され、また利用目的の範囲内で利用されます。
<br>【当社プライバシーポリシーの表示】
<br><a href="https://sd-a-root.info/privacy/">https://sd-a-root.info/privacy/</a>
</li>
      <li>当社及びユーザーは、本サービスを利用する際に取り扱う個人情報については、個人情報管理に関する責任者を特定し、個人情報の漏えい・滅失・改ざん・棄損等の事故を未然に防止するため必要な措置を講じるものとします。</li>
    </ol>
    <h2>第13条（委託）</h2>
    <p>　当社は本サービスの提供に関する業務の全部もしくは一部をユーザーの承諾なしに、第三者に委託することができます。ただし、その場合、当社は責任をもって委託先を管理するものとします。</p>
    <h2>第14条（禁止事項）</h2>
    <p>　ユーザーは、本サービスの利用にあたり、以下の行為をしてはなりません。</p>
    <ol>
      <li>法令又は本規約その他本サービスに関する契約に違反する行為またはそのおそれがある行為</li>
      <li>当社が提供した本サービスの利用に関する資料（営業資料、提案書、マニュアル等）を第三者に開示する行為</li>
      <li>当社またはその他第三者の知的財産権その他一切の権利を侵害し、または侵害するおそれのある行為</li>
      <li>本サービスを構成するソフトウェアの全部または一部を複製、変更、翻案等する行為</li>
      <li>本サービスの全部または一部を、有償・無償を問わず、当社の事前の承諾なしに、第三者に貸与・使用させる行為</li>
      <li>虚偽、不完全、不正確な情報を本サービスの登録または当社に届け出る行為</li>
      <li>当社またはその他第三者の機密情報もしくは個人情報を、その他の第三者に不正に公表・開示・提供・漏洩するおそれのある行為</li>
      <li>他のユーザー、または第三者になりすます行為</li>
      <li>本サービスの他のユーザーのアカウントを利用する行為、利用しようとする行為、他のユーザーのデータを閲覧、変更、改竄する行為またはそのおそれがある行為</li>
      <li>当社と競合する事業を行う者がアカウントを作成する行為または本サービスを利用する行為</li>
      <li>当社と競合する事業を行う者その他の第三者に、本サービスを利用させる行為</li>
      <li>不正な目的を持って本サービスを利用する行為</li>
      <li>公序良俗に反する行為</li>
      <li>他のユーザーの利用を妨害する行為またはそのおそれがある行為</li>
      <li>本サービスを構成するハードウェアまたはソフトウェアへの不正アクセス行為、クラッキング行為その他設備等に支障を与える等の行為</li>
      <li>本サービスの提供を妨害する行為またはそのおそれがある行為</li>
      <li>本サービスを構成するソフトウェアの解析、リバースエンジニアリングその他ソースコードを入手しようとする行為</li>
      <li>当社のサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為</li>
      <li>その他，当社が不適切と判断する行為</li>
    </ol>
    <h2>第15条（知的財産権等）</h2>
    <p>　当社サイト、当社プログラムその他本サービスを構成する有形・無形の構成物（ソフトウェアプログラム、データベース、アイコン、画像、文章、マニュアル等の関連ドキュメント等を含む）に関する一切の知的財産権等は、当社または当社に利用を許諾した第三者に帰属します。</p>
    <h2>第16条（第三者の権利侵害）</h2>
    <ol>
      <li>本サービスの利用に関して、第三者からユーザーに対して知的財産権にかかるクレーム、紛争、その他の請求（以下「クレーム等」といいます）が発生した場合、ユーザーはただちに当社に書面または当社の指定する方法で通知するものとします。</li>
      <li>当社は、クレーム等の発生が当社の責めに帰すべき事由に基づく場合を除き、本サービスの利用に関してユーザーと第三者との間で生じたクレーム等に関し、一切の責任を負わないものとします。また、当社の責めに帰すべき事由に基づきクレーム等が発生した場合であっても、ユーザーが前項の規定に反し当社にクレーム等の発生を速やかに通知しない等の事由により、当社が適切な防御を行う機会を逸することになった場合は、当社は当該クレーム等に関して一切の責任を負わないものとします。</li>
    </ol>
    <h2>第17条（保証の制限）</h2>
    <ol>
      <li>当社は、本サービスについて、特定の結果の実現を保証するものではありません。</li>
      <li>当社は、ユーザーがあらゆるオペレーションシステムおよびウェブブラウザにおいて本サービスを良好に利用することができることを保証するものではなく、またそのような保証をするための動作検証および改良対応等を行う義務を負うものではありません。</li>
      <li>ユーザーは、本サービスを利用することが、ユーザーに適用のある法令、業界団体の内部規則等に違反するか否かを自己の責任と費用に基づいて調査するものとし、当社は、本サービスがユーザーの特定の目的に適合すること、期待する機能・商品的価値・正確性・有用性を有すること、ユーザーによる本サービスの利用が、ユーザーに適用のある法令、業界団体の内部規則等に適合することを何ら保証するものではありません。</li>
      <li>当社は、本サービスの提供に際しては、バグ等が存在しないよう最大限努力を行いますが、本サービスは現状のまま提供されるものであり、当社は、本サービスのバグや不具合の不存在を保証するものではありません。</li>
    </ol>
    <h2>第18条（免責及び損害賠償の制限）</h2>
    <ol>
      <li>当社は、本規約の各条項に従って制限された限度においてのみ、本サービスについての責任を負うものとします。当社は、本規約の各条項において保証しないとしている事項、責任を負わないとしている事項、ユーザーの責任としている事項については、一切の責任を負いません。</li>
      <li>本サービスに関連して、ユーザーと第三者の間において生じた取引、連絡、紛争等については、当社は一切の責任を負いません。</li>
      <li>当社の責めに帰すべき事由によって本サービスに関してユーザーに損害が生じた場合であっても、当社は、当社に故意または重過失がある場合にのみ損害賠償責任を負うものとします。</li>
      <li>前項の場合において、当社が負う賠償責任の範囲は、当社が本サービスに関して受領した１カ月分に相当する利用料金を上限とします。</li>
    </ol>
    <h2>第19条（本サービスの休止）</h2>
    <ol>
      <li>当社は、定期的にまたは必要に応じて、保守作業のために、本サービスを一時的に休止することができるものとします。</li>
      <li>当社は、保守作業を行う場合には、事前にユーザーに対してその旨を通知するものとします。ただし、緊急の場合には、事前の通知をすることなく本サービスを休止し、事後速やかにユーザーに通知するものとします。</li>
      <li>第１項に定めるほか、当社は、第三者による妨害行為等により本サービスの継続がユーザーに重大な支障を与えるおそれがあると判断される場合、その他やむを得ない事由がある場合にも、本サービスを一時的に休止することができるものとします。</li>
      <li>当社は、本条に基づいてなされた本サービスの休止によってユーザーに生じた不利益、損害について責任を負いません。</li>
      <li>本条に基づき本サービスの利用が停止された場合であっても、本サービス利用契約が解除されるまでの間については、ユーザーは、料金等の支払義務を免れないものとします。</li>
    </ol>
    <h2>第20条（本サービスの変更、終了）</h2>
    <ol>
      <li>当社は、当社の都合により、本サービスの内容を変更し、または提供を終了することができます。</li>
      <li>当社が本サービスの内容を変更し、または提供を終了する場合、当社はユーザーに事前に通知するものとします。</li>
      <li>当社が予期し得ない事由または法令・規則の制定・改廃、天災等のやむを得ない事由で、サービスを廃止する場合において事前に通知が不能な場合、当社は可能な限り速やかにユーザーに対して通知を行います。</li>
      <li>当社は、本サービスの内容の変更および終了により、ユーザーまたは第三者が被ったいかなる不利益または損害について、一切の責任を負わないものとします。</li>
    </ol>
    <h2>第21条（当社による利用停止・解除）</h2>
    <ol>
      <li>
        当社は、ユーザーが次の各号のいずれかに該当すると判断した場合、ユーザーへの催告を要することなく本サービスの提供を停止し、又は利用契約の全部もしくは一部を解除することができるものとします。
        <ol>
          <li>ユーザーが本規約に定める義務または利用契約に違反した場合</li>
          <li>当社の事業に支障を与える行為を行った場合</li>
          <li>法令、条例、その他規則等又は利用契約に違反した場合</li>
          <li>重要な財産に対する差押、仮差押、仮処分、租税滞納処分、その他公権力の処分を受け、または破産手続開始、民事再生手続開始、会社更生手続開始もしくは特別清算開始の申立てが行われた場合</li>
          <li>解散もしくは事業の全部を譲渡し、またはその決議がなされた場合</li>
          <li>自ら振り出しもしくは引き受けた手形または小切手が不渡りとなる等支払停止状態に至った場合</li>
          <li>監督官庁から営業停止、または営業免許もしくは営業登録の取消しの処分を受けた場合</li>
          <li>第４条第４項各号に掲げる事由の一つがある場合</li>
          <li>第14条各号に掲げる事由の一つがある場合</li>
          <li>本サービスの利用料金につき、２ヶ月以上支払いがない場合</li>
          <li>その他、当社が本サービスの利用を適当でないと判断した場合</li>
        </ol>
      </li>
      <li>前項各号のいずれかの事由に該当した場合、ユーザーは、当社に対して負っている債務の一切について当然に期限の利益を失い、直ちに当社に対して全ての債務の支払を行わなければならないものとします。</li>
      <li>当社は、本条に基づき当社が行った行為によりユーザーに生じた損害について、一切の責任を負わないものとします。</li>
    </ol>
    <h2>第22条（契約終了後の処理）</h2>
    <ol>
      <li>ユーザーは、理由の如何を問わず利用契約が終了した場合、ただちに本サービスの利用を終了し、以後、本サービスを利用することはできません。</li>
      <li>当社は、理由の如何を問わず利用契約が終了した場合、本サービスに格納された一切のデータを契約終了日から30日以内に消去することができるものとします。</li>
      <li>当社は、本条に基づいてデータを消去したことによってユーザーに生じた損害を賠償する義務を負わないものとします。</li>
    </ol>
    <h2>第23条（契約期間）</h2>
    <ol>
      <li>本サービス利用契約の契約期間は、１ヶ月とします。契約期間内にユーザーからの解約の申し出があった場合であっても、契約期間満了時まで本サービス利用契約は継続するものとし、当社は受領済みの利用料金等について返金を行わず、ユーザーの契約期間満了までの利用料金等の支払義務は存続するものとします。</li>
      <li>ユーザーは、本サービス利用契約の契約内容の変更、または契約を更新せず終了させる場合には、有効期間満了日の１ヶ月前の月の25日までに、別途当社が定める方法によりその旨を申し出ることとします。お客様からの申し出がない場合は、同一条件にて自動的に有効期間が１ヶ月延長のうえ更新されるものとし、以後も同様とします。</li>
    </ol>
    <h2>第24条（反社会的勢力の排除）</h2>
    <ol>
      <li>ユーザー及び当社は、暴力団、暴力団員、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロ、特殊知能暴力集団等その他これらに準ずる反社会的勢力のいずれにも該当しないことを表明し、かつ将来に亘っても該当しないことを確約します。</li>
      <li>ユーザー及び当社は、自ら又は第三者を利用して、暴力的な要求行為、法的責任を超えた不当要求行為、取引に関して脅迫的な言動や暴力を用いる行為、風説、偽計又は威力を用いて会社の信用を棄損し又は会社の業務を妨害する行為、反社会的勢力の活動を助長し又はその運営に資する行為、反社会的勢力への利益供与等その他これらに準ずる行為を行わないことを確約します。</li>
      <li>当社は、ユーザーが前各項に違反した場合には、何等催告なく利用契約を直ちに解除できるものとします。なお、この場合において、当社は、何らの損害賠償、補償その他の支払義務も負わないものとします。</li>
    </ol>
    <h2>第25条（通知または連絡）</h2>
    <ol>
      <li>本サービスに関する通知その他本規約に定める当社からユーザーに対する通知は、ユーザーが登録事項に記入したメールアドレス宛の電子メールによる方法その他当社の定める方法によって行うものとします。</li>
      <li>当社が登録事項に含まれるメールアドレスその他連絡先に連絡または通知を行った場合、ユーザーは当該連絡または通知を受領したものとみなします。</li>
      <li>ユーザーが登録事項に記入した電子メールアドレスを変更する場合は、速やかに当社に対して当社所定の方法にて変更手続きを行うものとします。</li>
    </ol>
    <h2>第26条（本サービス利用契約上の地位の譲渡等）</h2>
    <ol>
      <li>ユーザーは、当社の書面による事前の承諾なく、利用契約の契約上の地位を第三者に承継させ、または利用契約に基づく権利義務の全部または一部を第三者に譲渡し、承継させ、または担保に供してはならないものとします。</li>
      <li>当社は本サービスに係る事業を他社に譲渡した場合には、当該事業譲渡に伴い利用契約上の地位、本規約に基づく権利および義務ならびにユーザーの登録事項その他の情報を事業譲渡の譲受人に譲渡することができるものとし、ユーザーは、かかる譲渡につき本項において予め同意したものとします。なお本項に定める事業譲渡には、会社分割その他事業が移転するあらゆる場合を含むものとします。</li>
    </ol>
    <h2>第27条（秘密保持）</h2>
    <p>　ユーザーは、本サービスに関連して当社がユーザーに対して秘密に取扱うことを求めて開示した非公知の情報について、当社の事前の書面による承諾がある場合を除き、秘密に取扱うものとします。</p>
    <h2>第28条（分離可能性）</h2>
    <p>　本規約のいずれかの条項又はその一部が、民法その他の法令等により無効または執行不能と判断された場合であっても、本規約の残りの規定および一部が無効又は執行不能と判断された既定の残りの部分は、継続して完全に効力を有するものとします。</p>
    <h2>第29条（不可抗力）</h2>
    <p>　当社は、天災地変（台風、津波、地震、風水害、落雷、塩害等を含みますがこれらに限られません）、火災、感染症、伝染病、疫病、サイバー攻撃、公害、戦争、暴動、内乱、テロ行為、ストライキ、法令・規則の制定・改廃、公権力による命令・処分その他の政府による行為、争議行為、輸送機関、通信回線等の事故その他の不可抗力によって本サービスの履行が妨げられた場合には、利用契約その他の一切の規定にかかわらず、かかる不可抗力によってユーザーに生じた損害について一切の責任を負担しません。</p>
    <h2>第30条（協議）</h2>
    <p>　本規約の解釈について両当事者間に異議、疑義が生じた場合、または本規約に定めのない事項が生じた場合、誠実に協議し、円満にその解決を図るものとします。</p>
    <h2>第31条（準拠法・裁判管轄）</h2>
    <ol>
      <li>本規約および本サービス利用契約の準拠法は、日本法とします。</li>
      <li>本規約または本サービス利用契約に起因する、または関連する一切の紛争については、地方裁判所を専属的合意管轄裁判所とします。</li>
    </ol>
    <br>
    <p class="text-right tR">2024年2月1日制定</p>
  </section>
</article>
</main>

{% endblock %}
