{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <ul class="navbar">
      <a href="/" style="font-weight: bolder; text-decoration: none; font-family: 'BIZ UDPゴシック'; font-size: 2rem; cursor: pointer" class="mt-3">
          <img class="mr-1" style="vertical-align: sub;height: 2.3rem;" src="{{ url_for('static', filename='image/sd.png') }}" />
          A-Root</a>
  </ul>
</nav>

<main>
  <article class="wrapKOPIPE-OK">
  <section class="wrapHINAGATA">
    <h1>プライバシーポリシー</h1>
    <p>　StrategyDrive株式会社（ストラテジードライブ）（以下「当社」といいます）は、当社が提供するサービス（以下「当社サービス」といいます）に関連して当社が取得するパーソナルデータの取扱いに関する方針を、次のとおり定めます。</p>
    <p>　なお、本文中の用語の定義は、個人情報の保護に関する法律（平成15年法律第57号）（以下「個人情報保護法」といいます）及び関連法令によります。</p>
    <h2>第1条（関係法令・ガイドライン等の遵守）</h2>
    <p>　当社では、個人情報保護法その他の関係法令、個人情報保護委員会の定めるガイドライン等及び本プライバシーポリシーを遵守し、個人情報を含むパーソナルデータを適法かつ適正に取り扱います。</p>
    <h2>第2条（パーソナルデータの取得）</h2>
    <p>　当社は、適法かつ公正な手段により取得した、次のパーソナルデータを取扱います。</p>
    <ol>
        <li>当社サービスの提供のため、又は当社がユーザーご本人との契約を締結するため（締結するか否かの検討も含みます）に、ユーザーご本人から申込書等の書面、Web等の画面等の方法で取得したもの。</li>
        <li>クレジットカード情報、銀行口座情報、電子マネー情報等決済手段に関する情報</li>
        <li>入力フォームその他当社が定める方法を通じてユーザーが入力または送信する情報</li>
        <li>本サービスを利用するにあたって本サービスと連携して用いるソーシャルネットワーキングサービス等のユーザーご本人が利用する情報</li>
        <li>ユーザーご本人が当社サービス等をご利用いただくことに伴い当社が取得したもの（Cookie(クッキー)、広告用識別子などの技術を使用して取得したアクセス情報など、当社のシステム等で自動的に取得される個人関連情報を含みます）。</li>
        <li>その他、ユーザーご本人又は第三者から適法に取得したもの。</li>
    </ol>
    <h2>第3条（パーソナルデータの利用目的）</h2>
    <p>　当社は、取得したパーソナルデータについて、以下の利用目的の範囲内で利用し、ユーザーご本人の同意がある場合又は法令で認められている場合を除き、他の目的で利用しません。</p>
    <ol>
      <li>ユーザーご本人に、当社サービスを提供し、当社サービスに関するサポートを行う場合</li>
      <li>ユーザーご本人に当社または当社提携企業の商品サービスをご案内する場合</li>
      <li>当社がマーケティング分析(購買行動調査、嗜好調査、IT. 関連調査)を行う場合</li>
      <li>ユーザーご本人の本人確認を行う場合</li>
      <li>ユーザーご本人に利用代金を請求するために、支払いに関する情報を利用する場合</li>
      <li>ユーザーご本人が簡便にデータを入力できるようにするために、当社に登録されている情報を入力画面に表示させたり、ユーザーご本人のご指示に基づいて他のサービスなど(提携先が提供するものも含みます)に転送したりする場合</li>
      <li>ユーザーご本人のアカウントについて、メンテナンスを行う場合</li>
      <li>代金の支払を遅滞したり第三者に損害を発生させたりするなど、当社サービスの利用規約に違反したユーザーや、不正不当な目的でサービスを利用しようとするユーザーのご利用をお断りするために、ご利用態様、氏名や住所など個人を特定するための情報を利用する場合</li>
      <li>ユーザーご本人からのお問い合わせに対応するために、お問い合わせ内容や利用代金の請求に関する情報など、当社がユーザーご本人に対して当社サービスを提供するにあたって必要となる情報や、ユーザーご本人の当社サービスご利用状況、連絡先情報などを利用する場合</li>
      <li>当社サービスの運営上で必要な事項を通知する場合</li>
      <li>当社サービスその他本サービスに関連する情報を提供する場合</li>
      <li>当社サービスの新規開発に必要なデータの解析及び分析をする場合</li>
      <li>個人を特定しない範囲での統計情報の作成及び利用をする場合</li>
      <li>当社の新サービス等の情報提供をする場合</li>
      <li>当社サービスと連携する他社サービス運営元及び当該他社サービスと連携する当社以外のサービス運営元に対し情報を提供する場合</li>
      <li>その他、当社の当社サービス等を円滑に運営するために必要な場合</li>
    </ol>
    <h2>第4条（パーソナルデータの第三者提供）</h2>
    <p>当社は、ユーザーご本人の事前の同意がある場合又は法令で認められている場合を除き、取得したパーソナルデータを第三者（委託先を除きます）に提供いたしません。</p>
    <h2>第5条（パーソナルデータの委託）</h2>
    <p>　当社は、業務を円滑に進めユーザーにより良いサービスを提供するため、パーソナルデータの取扱いを協力会社に委託する場合があります。ただし、取扱いを委託するパーソナルデータは、委託する業務を遂行するのに必要最小限の情報に限定します。</p>
    <h2>第6条（パーソナルデータの管理）</h2>
    <ol>
        <li>データ内容の正確性の確保<br>当社は、取得したパーソナルデータにつき、利用目的の達成に必要な範囲内において、正確かつ最新の内容に保つとともに、利用する必要がなくなったときは当該パーソナルデータを消去するよう努めます。</li>
        <li>安全管理措置<br>当社は、取得したパーソナルデータにつき、利用目的の達成に必要な範囲内において、正確かつ最新の内容に保つとともに、利用する必要がなくなったときは当該パーソナルデータを消去するよう努めます。</li>
        <li>従業者の監督<br>当社は、パーソナルデータを従業者に取り扱わせるに当たっては、パーソナルデータの適正な取扱いを周知徹底するとともに適正な教育を行い、必要かつ適切な監督を行います。</li>
        <li>委託先の監督<br>当社は、パーソナルデータの取扱いを委託する場合には、委託先に適切な安全管理措置を講じている協力会社を選定し、委託先に対し必要かつ適切な監督を行います。</li>
    </ol>
    <h2>第7条（保有個人データに関する受付）</h2>
    <ol>
      <li>当社が保有するパーソナルデータのうち、保有個人データにかかる本人又はその代理人（以下本項において「本人等」といいます）から、保有個人データの利用目的の通知のお求めがあったときは、お求めが個人情報保護法上理由のあるものと認められる場合、次の場合を除き、遅滞なく通知いたします。
      <ol>
          <li>本人が識別される保有個人データの利用目的が明らかな場合</li>
          <li>本人又は第三者の生命、身体、財産その他の権利利益を害するおそれがある場合</li>
          <li>当社の権利又は正当な利益を害するおそれがある場合</li>
          <li>国の機関又は地方公共団体が法令の定める事務を遂行することに対して協力する必要がある場合であって、当該事務の遂行に支障を及ぼすおそれがある場合</li>
      </ol>
      </li>
      <li>本人等から保有個人データの開示のお求めがあった場合には、次の場合を除き、遅滞なく通知いたします。
      <ol>
          <li>本人又は第三者の生命、身体、財産その他の権利利益を害するおそれがある場合</li>
          <li>当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合</li>
          <li>法令に違反することとなる場合</li>
      </ol>
      </li>
      <li>本人等から保有個人データの訂正、追加、削除のお求めがあった場合には、遅滞なく調査を行い、結果に基づき適正な対応を行います。</li>
      <li>本人等から保有個人データの利用の停止又は消去のお求めがあった場合に、お求めに理由があることが判明したときは、適正な対応を行います。</li>
    </ol>
    <h2>第8条（プライバシーポリシーの改定）</h2>
    <p>　当社は、パーソナルデータに適用される法令等の変更、インターネット技術の進歩、当社サービス内容の変更に応じて本プライバシーポリシーを事前の予告なく変更することがあります。変更した場合は当ページにてお知らせいたします。また、当社のプライバシーポリシーに関するご連絡は、以下の【問い合わせ先】までお願いいたします。</p>
    <br>
    <p>【問い合わせ先】<br>
        StrategyDrive株式会社　お客様対応窓口<br>
        住所：〒980-0803 宮城県仙台市青葉区国分町1丁目4-9 enspace<br>
        <a href="mailto:info@strategy-drive.jp" target="_blank" rel="noreferrer noopener">info@strategy-drive.jp</a>
    </p><br>
    <p class="text-right tR">2024年1月24日制定・施行</p>
  </section>
</article>
</main>

{% endblock %}
